<style>
    .layui-btn+.layui-btn {
        margin-left: 0px;
    }
</style>
<div style="padding: 15px;">
    <div class="demoTable">
        姓名：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="user_name" autocomplete="off" style="width: 130px;"/>
        </div>
        电话：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="phone" autocomplete="off" style="width: 130px;"/>
        </div>
        日期：
        <div class="layui-inline">
            <input type="text" class="layui-input" name="id" id="orderDate" autocomplete="off" style="width: 130px;"/>
        </div>
        序号：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="id" autocomplete="off" style="width: 50px;"/>
        </div>
        左眼：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="left_eye_num" placeholder="度数" autocomplete="off" style="width: 50px;"/>
        </div>
        <div class="layui-inline">
            <input class="layui-input" name="id" id="left_eye_light" placeholder="散光" autocomplete="off" style="width: 50px;"/>
        </div>
        右眼：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="right_eye_num" placeholder="度数" autocomplete="off" style="width: 50px;"/>
        </div>
        <div class="layui-inline">
            <input class="layui-input" name="id" id="right_eye_light" placeholder="散光" autocomplete="off" style="width: 50px;"/>
        </div>
        客服:
        <div class="layui-inline">
            <select class="layui-select" name="is_export" id="create_user_id" style="width: 70px;">
                <option value="">全部</option>
            </select>
        </div>
        完成状态:
        <div class="layui-inline">
            <select class="layui-select" name="is_export" id="status" style="width: 70px;">
                <option value="">全部</option>
                <option value="3">已完成</option>
                <option value="1">未完成</option>
            </select>
        </div>
        <button class="layui-btn" data-type="reload" id="searchBtn">搜索</button>
    </div>
    <table class="layui-hide" id="demo" lay-filter="test">

    </table>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="copy" id="copy">复制</a>
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="express">快递</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" id="uploadImg" lay-event="image">图片</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="print">打印</a>
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="print_tag">打印标签</a>
        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="done">完成</a>
    </script>

    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
            <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
            <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
            <button class="layui-btn layui-btn-sm" lay-event="export">导出</button>
            <button class="layui-btn layui-btn-sm" lay-event="idSort">序号升序</button>
            <button class="layui-btn layui-btn-sm" lay-event="import">导入快递号</button>
        </div>
    </script>

</div>
<!--<script src="./public/layui/layui.all.js"></script>-->
<script src="./public/clipboard/clipboard.min.js"></script>
<script>
    $(function () {
        //渲染客服列表
            $.post('./action/user.php?action=getUser',{},function (res) {
                var result = JSON.parse(res);
                var optionList = '<option value="">全部</option>';
                if(result.code === 200){
                    var datalist = result.data;
                    $.each(datalist, function (i, data) {
                        optionList += '<option value="'+data.id+'">'+data.user_name+'</option>'
                    })
                    $('#create_user_id').html(optionList)
                    form.render();
                }
            })
    })


    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
        var  laypage = layui.laypage //分页
            ,layer = layui.layer //弹层
            ,table = layui.table //表格
            ,upload = layui.upload
            ,element = layui.element //元素操作
            ,date = layui.laydate

        //监听Tab切换
        element.on('tab(demo)', function(data){
            layer.tips('切换了 '+ data.index +'：'+ this.innerHTML, this, {
                tips: 1
            });
        });

        date.render({
            elem:'#orderDate'
            ,range:true
        });

        //执行一个 table 实例,
        var tableIns = table.render({
            elem: '#demo'
            , height: 768
            , url: './action/order.php?action=getOrder'   //数据接口
            // ,method: 'post'
            , title: '用户表'
            , page: true //开启分页
            , limit: 50
            , toolbar: '#toolbarDemo' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , defaultToolbar: ['export', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: '序号', width: 80, sort: true, fixed: 'left'}
                , {field: 'service_no', title: '接待编号', width: 110, sort: true, fixed: 'left'}
                , {field: 'express_no', title: '快递单号', width: 100, fixed: 'left'}
                , {field: 'express_name', title: '快递公司', width: 90, fixed: 'left'}
                , {field: 'create_user_name', title: '客服', width: 80, fixed: 'left'}
                , {field: 'user_name', title: '姓名', width: 100}
                , {field: 'phone', title: '电话', width: 120}
                , {field: 'wechat', title: '微信', width: 120}
                , {field: 'order_date', title: '日期', width: 120, sort: true}
                , {field: 'address', title: '收货地址', width: 300}
                , {field: 'right_eye_num', title: '右眼度数', width: 100}
                , {field: 'right_eye_light', title: '右眼散光', width: 100}
                , {field: 'right_eye_axle', title: '右眼轴位', width: 100}
                , {field: 'left_eye_num', title: '左眼度数', width: 100}
                , {field: 'left_eye_light', title: '左眼散光', width: 100}
                , {field: 'left_eye_axle', title: '左眼轴位', width: 100}
                , {field: 'eye_len', title: '瞳距', width: 100}
                , {field: 'eyeglasses_frame', title: '镜架', width: 100}
                , {field: 'eyeglasses', title: '镜片', width: 100}
                , {field: 'price', title: '价格', width: 100}
                , {field: 'description', title: '备注', width: 80}
                , {field: 'status', title: '状态', width: 10}
                , {field: 'is_print', title: '是否打印', width: 80, templet: '#is_print'}
                , {fixed: 'right', width: 320, align: 'center', toolbar: '#barDemo'}

            ]],
            id: 'orderList',
            done: function () {
                table_tr_color('layui-table');
            }
        });

        function table_tr_color(tableClassName) {
            var table = $('.'+tableClassName).eq(1);
            if(table.length){
                table.find('tr').each(function () {
                    var status = $(this).find('td[data-field="status"] div').html();
                    if(status === '3'){
                        $(this).attr('style',"background:#FFB6C1;color:#fff");
                    }
                })
            }
        }

        var $ = layui.$, active = {
            reload: function(){
                //执行重载
                table.reload('orderList', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        id:{
                            id:$('#id').val()
                        },
                        user_name: {
                            user_name: $('#user_name').val()
                        },
                        phone: {
                            phone: $('#phone').val()
                        },
                        order_date: {
                            order_date: $('#orderDate').val()
                        },
                        create_user_id: {
                            create_user_id: $('#create_user_id').val()
                        },
                        status: {
                            status: $('#status').val()
                        }
                    }
                }, 'data');
            }
        };

        $('#searchBtn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
                ,data = checkStatus.data; //获取选中的数据
            switch(obj.event){
                case 'add':
                    layer.open({
                        type: 2,
                        title:"添加订单",
                        area:['700px','800px'],
                        content: './view/addOrder.html',
                        end: function(){
                            tableIns.reload()
                        }
                    });
                    break;
                case 'update':
                    if(data.length === 0){
                        layer.msg('请选择一行');
                    } else if(data.length > 1){
                        layer.msg('只能同时编辑一个');
                    } else {
                        // layer.alert('编辑 [id]：'+ checkStatus.data[0].id);
                        layer.open({
                            type: 2,
                            title:"修改订单",
                            area:['700px','800px'],
                            content: './view/addOrder.html?id='+checkStatus.data[0].id,
                            end: function(){
                                tableIns.reload()
                            }
                        });
                    }
                    break;
                case 'delete':
                    if(data.length === 0){
                        layer.msg('请选择一行');
                    } else {
                        layer.confirm('真的删除次行么', function(index){
                            var id = checkStatus.data[0].id;
                            deleteOrder(id)
                            tableIns.reload()
                        })
                    }
                    break;
                case 'export':
                    if(data.length === 0){
                        layer.msg('请选择一行');
                    } else {
                        exportOrder(data)
                    }
                    break;

                case 'idSort':
                    tableIns.reload({
                        //记录初始排序，如果不设的话，将无法标记表头的排序状态。
                        where: {'sort': 'id'}
                    });
                    break;
                case 'import':
                    layer.open({
                        type: 2,
                        area:['520px','380px'],
                        title:"导入订单号",
                        content: './view/importOrder.html',
                        end:function () {
                            tableIns.reload()
                        }
                    });
                    break;
            };
        });


        //监听行工具事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data         //获得当前行数据
                ,layEvent = obj.event;  //获得 lay-event 对应的值
            if(layEvent === 'del'){
                layer.confirm('真的删除次行么', function(index){
                    obj.del();          //删除对应行（tr）的DOM结构
                    deleteOrder(data.id);
                    layer.close(index);
                });
            } else if(layEvent === 'edit'){
                layer.open({
                    type: 2,
                    title:"修改订单",
                    area:['700px','800px'],
                    content: './view/addOrder.html?id='+data.id,
                    end: function(){
                        tableIns.reload()
                    }
                });
            }else if(layEvent === 'image'){
                layer.open({
                    type: 2,
                    area:['1000px','800px'],
                    content: './view/orderImage.html?id='+data.id,
                    end: function(){
                        tableIns.reload()
                    }
                });
            }else if(layEvent === 'done'){
                layer.open({
                    type: 2,
                    area:['600px','400px'],
                    content: './view/doneOrder.html?id='+data.id,

                });
            }else if(layEvent === 'print'){
                layer.open({
                    type: 2,
                    title:"打印订单",
                    area:['1100px','700px'],
                    content: './view/printOrder.html?id='+data.id+'&hasImg='+data.has_image,
                });
            }else if(layEvent === 'print_tag'){
                layer.open({
                    type: 2,
                    title:"打印标签",
                    area:['700px','700px'],
                    content: './view/orderTag.html?id='+data.id,
                });
            }else if(layEvent === 'copy'){
                var copy_info = data.user_name+' '+data.phone+' '+data.address
                var clipboard = new ClipboardJS('#copy', {
                    text: function() {
                        return copy_info;
                    }
                });
                clipboard.on('success', function(e) {
                    layer.msg('复制成功');
                });
                clipboard.on('error', function(e) {
                    layer.msg('复制失败');
                });
            }else if(layEvent === 'express'){
                addExpressOrder(data)
            }
        });

        //分页
        laypage.render({
            elem: 'pageDemo' //分页容器的id
            ,count: 100 //总页数
            ,skin: '#1E9FFF' //自定义选中色值
            //,skip: true //开启跳页
            ,jump: function(obj, first){
                if(!first){
                    layer.msg('第'+ obj.curr +'页', {offset: 'b'});
                }
            }
        });

    });
</script>

<script type="text/html" id="is_print">
  {{#  if(d.is_print == 1){ }}
    <span style="color: #F581B1;">已打印</span>
  {{#  } else { }}
    {{  }}
  {{#  } }}
</script>

<script>

    //删除订单
    function deleteOrder(id) {
        $.post('./action/order.php?action=delete',{id:id},function (res) {
            var result = JSON.parse(res);
            if(result.code === 200){
                layer.msg(result.msg,{'icon':1})
            }
        })
    }

    //导入订单号
    function importOrder(elemDow,type){
        alert(1)
        layui.use('upload', function(){
            var upload = layui.upload;
            //执行实例
            alert(2)
            upload.render({
                elem: elemDow
                , url: '../action/order.php?action=import'
                , data: type
                , accept: 'file'
                , done: function (res) {
                    if(res.code === 200){
                        layer.msg(res.msg,{'icon':1})
                        window.location.reload()
                    }else{
                        layer.msg(res.msg,{'icon':2})
                    }
                }
                , error: function () {
                }
            });

        });
    }

    //添加快递管理订单
    function addExpressOrder(data) {
        var sendData = {
            'order_id' : data.id,
            'user_name': data.user_name,
            'phone' :data.phone,
            'address': data.address
        }
        $.post('./action/express.php?action=add',sendData,function (res) {
            var result = JSON.parse(res);
            if(result.code === 200){
                layer.msg(result.msg,{'icon':1})
            }else{
                layer.msg(result.msg,{'icon':2})
            }
        })
    }

    //导出订单
    function exportOrder(data){
        var ids = new Array();
        $.each(data, function (index, item) {
            ids.push(item.id)
        });
        window.location.href = './action/order.php?action=export&id='+ids.join(',');
    }

</script>